*
!/.gitignore

!/readme.md
!/license.md
!/documentation
!/examples
!/types
!/internal
!/internal/*.js

!/main.js
!/dummyette.js
!/chess.js
!/fast-chess.js
!/lichess.js
!/streams.js
!/openings.js
!/notation.js
!/streams-browser.js

!/types/main.d.ts
!/types/dummyette.d.ts
!/types/chess.d.ts
!/types/fast-chess.d.ts
!/types/lichess.d.ts
!/types/streams.d.ts
!/types/openings.d.ts
!/types/notation.d.ts
!/types/streams-browser.d.ts

!/documentation/main.md
!/documentation/dummyette.md
!/documentation/chess.md
!/documentation/fast-chess.md
!/documentation/lichess.md
!/documentation/streams.md
!/documentation/openings.md
!/documentation/notation.md
!/documentation/streams-browser.md

!/examples/main.md
!/examples/dummyette.md
!/examples/chess.md
!/examples/lichess.md
!/examples/streams.md
!/examples/openings.md
!/examples/notation.md
!/examples/streams-browser.md
