*
!/.gitignore

!/readme.md
!/license.md
!/documentation
!/examples

!/main.js
!/dummyette.js
!/chess.js
!/lichess.js
!/streams.js
!/streams-browser.js

!/documentation/main.md
!/documentation/dummyette.md
!/documentation/chess.md
!/documentation/lichess.md
!/documentation/streams.md
!/documentation/streams-browser.md

!/examples/main.md
!/examples/dummyette.md
!/examples/chess.md
!/examples/lichess.md
!/examples/streams.md
!/examples/streams-browser.md
