*
!/.gitignore

!/readme.md
!/package.json
!/documentation
!/examples
!/types
!/internal
!/internal/*.js
!/internal/tests
!/internal/tests/*.js
!/openings.pgn

!/main.js
!/dummyette.js
!/chess.js
!/lichess.js
!/streams.js
!/openings.js
!/notation.js
!/streams-browser.js
!/variants.js

!/notation
!/notation/to-san.js
!/notation/from-san.js
!/notation/from-fen.js
!/notation/from-pgn.js
!/notation/to-ascii.js
!/notation/to-fen.js
!/notation/to-uci.js

!/variants
!/variants/checkless-chess.js
!/variants/checked-chess.js
!/variants/chess.js

!/types/main.d.ts
!/types/dummyette.d.ts
!/types/chess.d.ts
!/types/lichess.d.ts
!/types/streams.d.ts
!/types/openings.d.ts
!/types/streams-browser.d.ts
!/types/notation.d.ts
!/types/notation
!/types/notation/to-san.d.ts
!/types/notation/from-san.d.ts
!/types/notation/from-fen.d.ts
!/types/notation/from-pgn.d.ts

!/documentation/main.md
!/documentation/dummyette.md
!/documentation/chess.md
!/documentation/lichess.md
!/documentation/streams.md
!/documentation/openings.md
!/documentation/streams-browser.md
!/documentation/notation.md
!/documentation/notation
!/documentation/notation/to-san.md
!/documentation/notation/from-san.md
!/documentation/notation/from-fen.md
!/documentation/notation/from-pgn.md

!/examples/main.md
!/examples/dummyette.md
!/examples/chess.md
!/examples/lichess.md
!/examples/streams.md
!/examples/openings.md
!/examples/streams-browser.md
!/examples/notation.md
